## different type of logical statement in python

* if
* else
* nested if
* if elif else

In [1]:
if True:
    print("Data Science")

Data Science

In [2]:
if False:
    print("Data Science")
print("bye for now")

bye for now

In [3]:
if True:
    print("Data Science")
print("Bye for now")

Data Science
Bye for now

In [4]:
if True:
    print("Data Science")
else:
    print("Bye for now")

Data Science

In [5]:
# Print a number is even number or odd number
number = int(input("What is the number you want to know: "))

if number%2 == 0:
    print(f"{number} is even number.")
else:
    print(f"{number} is odd number.")

What is the number you want to know:  6

6 is even number.

In [6]:
number = int(input("What is the number you want to know: "))

if number%2 != 0:
    print(f"{number} is odd number.")
else:
    print(f"{number} is even number.")

What is the number you want to know:  8

8 is even number.

In [7]:
x = 9
r = x%2

if r==0:
    print("Even Number")
if r ==1:
    print("Odd number")

Odd number

In [8]:
x = 9
r = x%2

if r==0:
    print("Even Number")
else:
    print("Odd number")

Odd number

In [9]:
x = 9
r = x%2

if r!=0:
    print("Odd number")
else:
    print("Even number")

Odd number

In [10]:
# Check if the number is even or odd and also if the number is greater or lesser number
x =3
r = x%2

if r==0:
    print("Even number")
    if x> 5:
        print("Greater number")
else:
    print("Odd number")

Odd number

In [11]:
# Check if the number is even or odd and also if the number is greater or lesser number
x =4
r = x%2

if r==0:
    print("Even number")
    if x> 5:
        print("Greater number")
else:
    print("Odd number")

Even number

In [12]:
# Check if the number is even or odd and also if the number is greater or lesser number
x = 4
r = x%2

if r==0:
    print("Even number")
    if x> 5:
        print("Greater number")
    else:
        print("lesser number")
else:
    print("Odd number")

Even number
lesser number

In [13]:
x = 5

if x ==1:
    print("one")
elif x == 2:
    print("Two")
elif x == 3:
    print("Three")
elif x ==4:
    print("Four")

else:
    print("Number not found")

Number not found

# Loops in python

### while loop

In [15]:
i = 1
while i<=5:
    print('data science');
    i+=1

data science
data science
data science
data science
data science

In [17]:
i =5 
while i>=1:
    print("Data science")
    i -= 1

Data science
Data science
Data science
Data science
Data science

In [22]:
i = 5

while i>=1:
    print("data science: ", i)
    i -=1

data science:  5
data science:  4
data science:  3
data science:  2
data science:  1

In [23]:
i = 1

while i<=5:
    print("data science")
    j = 1
    while j<=4:
        print("technology")
        j += 1

    i += 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [26]:
i = 1

while i<=5:
    print("data science:", end=" ")
    j = 1
    while j<=4:
        print("technology", end=" ")
        j += 1

    i += 1
    print()

data science: technology technology technology technology
data science: technology technology technology technology
data science: technology technology technology technology
data science: technology technology technology technology
data science: technology technology technology technology

In [27]:
i = 1
while i<=2:
    j = 0
    while j<=2:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [31]:
i = 1
while i<=4:
    j = 0
    while j<=3:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [33]:
# while else
i = 10

while i <=4:
    j = 1
    while j<=3:
        print(i*j, end=" ")
        j +=1
    print()
    i +=1
else:
    print("condition is not match")

condition is not match

### for loop

In [34]:
name = 'nit'
for i in name:
    print(i)

n
i
t

In [35]:
name1 = [1, 3.5, 'hallo']

for i in name1:
    print(i)

1
3.5
hallo

In [36]:
range(5)

range(0, 5)

In [37]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [38]:
# print the value which is dvisible by 5
for i in range(1, 51):
    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

## Break, Continue, Pass

In [39]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### break

In [41]:
# If I want to come out of loop before 4 being print
for i in range(1,11):
    if i == 4:
        break
    print(i)

1
2
3

#### pass

In [42]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [43]:
for i in range(1, 11):
    pass

In [45]:
x = int(input("How many chocolets you want: ?"))
i = 1
while i<=x:
    print("Chocolet :", i)
    i+=1

How many chocolets you want: ? 5

Chocolet : 1
Chocolet : 2
Chocolet : 3
Chocolet : 4
Chocolet : 5

In [51]:
available_chocolet = 5 # The machine has only 5 chocolet
x = int(input("How may chocolets you want:?"))

i = 1

while i<=x:
    if i>available_chocolet:
        print("out of stock")
        break
    print("Chocolet: ", i)
    i+=1

print("Bye for now")

How may chocolets you want:? 10

Chocolet:  1
Chocolet:  2
Chocolet:  3
Chocolet:  4
Chocolet:  5
out of stock
Bye for now

#### Continue

In [53]:
for i in range(1, 31):
    if i%3 == 0:
        continue # Skipping all the 3 table
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
end

In [54]:
for i in range(1,51):
    if i%3 ==0 or i%5==0:
        continue #skipping all the 3 and 5 table
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [55]:
nums = [12, 15, 18, 21, 26, 30, 40]

for num in nums:
    if num%5 == 0:
        print(num)

15
30
40

In [ ]:
nums = [12, 5, 15, 18, 21, 26, 30, 40]

for num in nums:
    if num % 5 == 0:
        print(num)