In [7]:
txt = "   abc def ghi    "
txt.lstrip()

'abc def ghi    '

In [9]:
txt = "   abc def ghi   "
txt.strip()

'abc def ghi'

## Using Escape Character

In [10]:
# Uisng double quotes in the string is not allowed.
mystr = "My favorite TV series is"Game of Thrones""

SyntaxError: invalid syntax (1437321561.py, line 2)

### Using double quoutes ("") inside a double quotes can give you error, so to show double quotes inside a double quote string we can use escape character.

In [11]:
#Using escape character to allow illegal Characters
mystr = "My favorite series is \"Game of Thrones\""
print(mystr)

My favorite series is "Game of Thrones"

# List
1. List is an ordered sequence of items.
2. We can have different data types under a list. e.g we can have integer, float and string items in a same list.

### List Creation

In [12]:
# An Empty string
list1 = []
print(type(list1))

<class 'list'>

In [13]:
list2 = [10, 30, 60] # list of integers numbers
list3 = [10.77, 30.66, 60.89] # list of float numbers
list4 = ['one', 'two', 'three'] # list of strings

In [14]:
list5 = ['Mikun', 25, [50,100], [150, 90]] #Nested lists
list6 = [100, 'Mikun', 17.765] # list of mixed data types
list7 = ['Mikun', 25, [50, 100], [150, 90], {'Alice', 'Bob'}]

In [15]:
len(list6) # Length of list

3

In [16]:
print(list2[0])
print(list4[0])
print(list4[0][0])
print(list4[-1])
print(list5[-1])

10
one
o
three
[150, 90]

# List Slicing

In [17]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [20]:
mylist[0:3] # Returns all items between 0 and 3 means index(0, 1, 2)

['one', 'two', 'three']

In [21]:
mylist[2:5] # Returns all items between 2 and 5 means index(2, 3, 4)

['three', 'four', 'five']

In [22]:
mylist[:3] # Returns first 3 element

['one', 'two', 'three']

In [23]:
mylist[-3:] # Returns last 3 element

['six', 'seven', 'eight']

In [24]:
mylist[-2:] # Returns last 2 element

['seven', 'eight']

In [26]:
print(f"This returns last element: {mylist[-1]}") # Returns last item of the list
print(f"This returns all element: {mylist[:]}") # Returns whole list

This returns last element: eight
This returns all element: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add, Remove & Change Items

In [27]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### .append() -> adds the item to the end of the list

In [28]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

### .insert(index, value) -> adds the item to dedicated index

In [29]:
mylist.insert(9, 'ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [30]:
mylist.insert(1, 'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

### .remove(value) -> removes the first given value from the list

In [31]:
mylist.remove('ONE') # Remove item 'ONE'
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### .pop() -> removes last items of the list

In [32]:
mylist.pop() # Remove last items of the lsit
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

### .pop(index) -> remoes the value based on the given index from the list

In [33]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [34]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

### How to change one index value from the list

`Note: Please notice in: `
* `.insert() -> the item in that index previous is'nt removed rather there in upper index`
* `mylist[0] -> this actually changes the given index value so previous value is removed from that index`

In [35]:
# change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [36]:
mylist.clear() # Empty list / Delete all items in the list
mylist

[]

In [38]:
del mylist # Delete the whoel list
mylist

NameError: name 'mylist' is not defined

## Copy List

In [40]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [41]:
mylist1 = mylist # Create a new reference 'mylist1'

In [43]:
print(id(mylist), id(mylist1)) # The address of both mylist and mylist1 will be same

1705895837056 1705895837056

In [44]:
mylist2 = mylist.copy() # Create a copy of the list

In [45]:
id(mylist2) # The address of mylist will be different from mylist because mylist2 has copied the value

1705899811456

In [46]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [47]:
mylist1 # mylist 1 will be also impacted as it is pointing to the same address of the list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [48]:
mylist1[1] = 2
mylist1

[1, 2, 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [49]:
mylist

[1, 2, 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [52]:
mylist2 # mylist two is not affected because the list address is different

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

### Join Lists

In [53]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [54]:
list3 = list1+list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
list1.extend(list2) # Append lsit2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List Membership

In [56]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [57]:
'one' in list1 # Check if 'one' exist in the list

True

In [58]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [60]:
if 'three' in list1: # Check if 'three' exist in the lsit
    print('Three is present in the list')
else:
    print("Three is not present in the list")

Three is present in the list

In [61]:
if 'elevent' in list1: # Check if 'elevent exist in the list
    print('eleven present in the list')
else:
    print('eleven not present in the list')

eleven not present in the list

## Reverse & Sort List

`.reverse()`

In [62]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
list1.reverse() # REverse the lsit
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [64]:
# Other way of reversing
list1  = list1[::-1] 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

`.sort() and sorted()`
* `.sort() => sorts the original array`
* `sorted() => returns the sorted array and doesn't change the original array.`

In [65]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [66]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [67]:
mylist4 = [88, 65, 33, 21, 11, 98]
sorted(mylist4) # It returns a new sorted lsit and doesn't change the original list

[11, 21, 33, 65, 88, 98]

In [68]:
mylist4

[88, 65, 33, 21, 11, 98]

## Loop through a list

In [69]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [70]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

`enumerate()`
* Here the elements of the list is paired with their index number like (0, 'one')

In [71]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count
* list.count(value) will give the number of time the value occured in the given list

In [72]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [73]:
list10.count('one') # Number of times items 'one' occured in the list.

3

In [74]:
list10.count('two')

2

## All / Any
The all() method returns:
* True - If all elements in a list are true
* False - If all element in a list is false

The any() function returns True if any element in the list is True. If not, ano() returns False

In [75]:
L1 = [1, 2, 3, 4, 0]

In [76]:
all(L1) # Will return false as one value is false (value 0)

False

In [77]:
any(L1) # Will return Treu as we hve items in teh list with True value

True

In [78]:
L2 = [1, 2, 3, 4, True, False]

In [79]:
all(L2) # Returns false as one value is false

False

In [ ]:
any(L2) # @ill Return Treu as we have items