# Loops

## for loop

### Loops with list

In [3]:
li = ["geeks", "for", "geeks"]

for x in li:
    print(x)

geeks
for
geeks

### Loops with tuple

In [4]:
tup = ("geeks", "for", "geeks")
for x in  tup:
    print(x)

geeks
for
geeks

### Loops with string

In [5]:
s = "abc"
for char in s:
    print(char)

a
b
c

### Loops with dictionary

In [9]:
d = {"x":123,
     "y": 354
    }
for x in d:
    print(f"{x}: {d[x]}")

x: 123
y: 354

### Loops through sets

In [10]:
set1 = {10, 30, 20}
for x in set1:
    print(x)

10
20
30

## while loop

In [11]:
cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

#### Nested loops

In [17]:
for i in range(1,5):
    for j in range(i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4

### Loop Control Statements

In [19]:
for letter in "geeksforgeeks":
    if letter == "e" or letter =="s":
        continue
    print("Current letter: ", letter)

Current letter:  g
Current letter:  k
Current letter:  f
Current letter:  o
Current letter:  r
Current letter:  g
Current letter:  k

In [21]:
for letter in "GeeksForGeeks":
    if letter == "e" or letter == "s":
        break

print("Current Letter: ", letter)

Current Letter:  e

# Loop Problems

## For Loop

In [24]:
# You are given a number N, you need to print its multiplication table

num = int(input("Give a number to have multiplication table"))

for i in range(1, 11):
    print(i*num)

Give a number to have multiplication table 5

5
10
15
20
25
30
35
40
45
50

In [26]:
"""
    You are given a number n, take input of n and print its
     multiplication table in a single line using for loop till n*10.
"""
n = 5

for i in range(1, 11):
    print(i*n, end=" ")

5 10 15 20 25 30 35 40 45 50

In [28]:
""" 
    You are given a string s, you need to print its
        characters at even indices (index start at 0).
"""
s = "DoctorPhenomenal"

for i in range(0, len(s), 2):
    print(s[i], end="")

DcoPeoea

In [31]:
# Other way
s = "DoctorPhenomenal"

for i in range(0, len(s)):
    if i%2 == 0:
        print(s[i], end="")

DcoPeoea

## While Loop

In [38]:
"""
    Given a number x, the task is to print the numbers
        from x to 0 in decreasing order in a single line.
"""
x = 5

while x>=0:
    print(x, end=" ")
    x -= 1

5 4 3 2 1 0

In [41]:
"""
Given a positive integer x, teh task is to print the number from 1 to x in the order as
1^2, 2^2, 3^2,... (in increasing order)
"""

x = 10
i = 1
squared = 0
while True:
    if squared > x:
        break
    squared = i**2
    print(squared, end=" ")
    i+=1
    x-=1

1 4 9