# Sets
1. Unordered and Unindexed collection of items.
2. Set elements are unique. Means duplicate elements are not allowed
3. Set elements are immutable (cannot be changed)
4. Set itself is mutable. We can add or remove items from it

### Set Creation

In [1]:
myset = {1, 2, 3, 4, 5}
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset)

5

In [3]:
my_set = {1, 1, 2, 2, 3, 4, 5, 5}
my_set

{1, 2, 3, 4, 5}

In [4]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [5]:
myset2 = {'Mikun', 'Alice', 'Bob'}
myset2

{'Alice', 'Bob', 'Mikun'}

In [6]:
myset3 = {10, 20, 'Hola', (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

* `Set elements must be hashable`: Sets are implemented using hash tables, which require their elements to be hashable. A hashable object has a hash value that remains constant throughout its lifetime and can be compared to other objects for equality.

* `Immutable objects are generally hashable`: Because their contents cannot change, immutable objects like tuples can reliably produce a consistent hash value.

* `Mutable objects are generally not hashable`: If a mutable object's contents could change, its hash value would also change, which would break the integrity of the hash table used by sets. This would make it impossible to efficiently find, add, or remove elements from the set.

In [7]:
myset3 = {10, 20, "Hola", [11, 22, 32]} # Set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [8]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [9]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

### Loop through a set

In [10]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

six
four
one
five
two
three
seven
eight

In [11]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'four')
(2, 'one')
(3, 'five')
(4, 'two')
(5, 'three')
(6, 'seven')
(7, 'eight')

### Set Membership

In [13]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [14]:
'one' in myset # Check if 'one' exist in the set

True

In [15]:
'ten' in myset # Check if 'ten' exist in the set

False

In [16]:
if 'three' in myset: #Check if 'three' is exist in the set using if statement
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

### Add and Remove Items

In [18]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [19]:
myset.add('NINE') # Adding item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
myset.update(['TEN', "ELEVEN", "TWELVE"])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [21]:
myset.remove("NINE") # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.discard("TEN") # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

#### Difference between remove(item) and discard(item)
* remove(item): will remove the item if present in the set, if item is not present in the set it will throw an error
* dicard(item): will remove the item if present in the set, if not it will not throw any error

In [24]:
myset.clear() # Delete all items in a set
myset

set()

In [25]:
del myset #Delete the set object
myset

NameError: name 'myset' is not defined

### Copy Set

In [26]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset1 = myset # Create a new reference 'myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
id(myset), id(myset1) # The address of both myset and myset1 will be same

(2341810941376, 2341810941376)

In [29]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
id(my_set), id(myset) # The address of my_set will be different from myset

(2341810943168, 2341810941376)

In [31]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
myset1 # myset1 will be also impacted as it is pointing to the same set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
my_set # Copy of the set won't be impacted dut to change made on the original set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

## Set Operation

### Union

In [34]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {8, 9, 10}

In [35]:
A | B # Will give elements from both set exccluding the Duplicates Values

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
A | B | C # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

NOTE:`Updates the set calling the update() method with union of A, B and C. `

* Example below, Set A will be updated with union of A, B and C.

In [39]:
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### InterSection

In [40]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {8, 9, 10}

In [41]:
A & B # Intersection of A and B ( Common items in both sets )

{4, 5}

In [42]:
A.intersection(B)

{4, 5}

NOTE: `Calling the intersection_update() method with the intersection of A and B`
* For example below set A will be updated with the intersection of A and B

In [44]:
A.intersection_update(B)
A

{4, 5}

### Difference

In [45]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [46]:
A - B # Set of element that are only in A but not in B

{1, 2, 3}

In [47]:
A.difference(B)

{1, 2, 3}

In [48]:
B - A # Set of element that are only in B but not in A

{6, 7, 8}

In [49]:
B.difference(A)

{6, 7, 8}

NOTE: `Calling the difference_update() method with the difference of set A and B.`
* For below example set B will be updated with the difference of B and A

In [50]:
B.difference_update(A)
B

{6, 7, 8}

### Symmetric Difference

In [51]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [52]:
A ^ B # Symmetric difference (Set of element in A and B, but excluding the common between them)

{1, 2, 3, 6, 7, 8}

In [53]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

NOTE: `Update the set calling the symmetric_difference_update() method with the set A and B`
* For below example Set A will be updated with the symmetric difference of A ^ B.

In [54]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset, Superset and Disjoint

In [55]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [56]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A

True

In [57]:
A.issuperset(B) # Set A is said to be the superset of set B if all element of B are in A

True

In [59]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

True

In [60]:
B.isdisjoint(A)

False

### Other built in functoin

In [61]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
sum(A)

45

In [63]:
max(A)

9

In [64]:
min(A)

1

In [65]:
len(A)

9

In [66]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [67]:
D = sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary
* Dictionary is mutable data type in python.
* A python dictionary is a collection of key and value pairs separed by a colon (:) and enclosed in curly braces {}.
* Keys must be unique in a dictionary, duplicate values are allowed

### Create Dictionary

In [69]:
mydict = dict() # Empty dictionary
mydict

{}

In [70]:
mydict = {}
mydict

{}

In [71]:
mydict = {1: 'one', 2: 'two', 3:'three'} # dictioanry with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [72]:
mydict = dict({1: 'one', 2: 'two', 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [74]:
mydict = {'A': 'one', 'B': 'two', 'C': 'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [75]:
mydict = {1: 'one', 'A': 'two', 3: 'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [76]:
mydict.values() # Return dictionary values using values() method

dict_values(['one', 'two', 'three'])

In [77]:
mydict.keys() # Returns dictionary keys using keys( ) method

dict_keys([1, 'A', 3])

In [78]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [79]:
mydict = {1: 'one', 2:'two', 'A':["Mikun", "Alice", "Bob"]}
mydict

{1: 'one', 2: 'two', 'A': ['Mikun', 'Alice', 'Bob']}

In [80]:
mydict = {  
    1: 'one',
    2: 'two',
    'A': ["Mikun", "Alice", "Bob"],
    'B': ("Bat Man", "Spider Man", "Iron man")
}
mydict

{1: 'one',
 2: 'two',
 'A': ['Mikun', 'Alice', 'Bob'],
 'B': ('Bat Man', 'Spider Man', 'Iron man')}

In [81]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys) # create a dictionary from a sequence of keys
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [83]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value) # Create a dictionary from a sequence of keys and value
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [84]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [85]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

### Accessing Items

In [86]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [87]:
mydict[1] # Access item using key

'one'

In [88]:
mydict.get(1) # Access item using get() method

'one'

In [89]:
mydict.get(1) # Access item using get() method

'one'

In [91]:
mydict1 = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'job': 'Analyst'}
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'job': 'Analyst'}

In [93]:
mydict1['Name'] # Access item using key

'Mikun'

In [94]:
mydict1.get('job') # Access item using get() method

'Analyst'

### Add, Remove and Change items

In [106]:
mydict1 = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}

In [96]:
mydict1['DOB'] =1999 # Changin Dictionary Items
mydict1["Address"] = "Rayagada"
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 1999, 'Address': 'Rayagada'}

In [97]:
dict1 = {"DOB": 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 1995, 'Address': 'Rayagada'}

In [98]:
mydict1['Job'] = 'Analyst' #Adding items in the dicitonary
mydict1

{'Name': 'Mikun',
 'ID': 72,
 'DOB': 1995,
 'Address': 'Rayagada',
 'Job': 'Analyst'}

In [99]:
mydict1.pop('Job') # Removing items in the dictionary using pop method
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 1995, 'Address': 'Rayagada'}

In [107]:
mydict1.popitem() # The lsit item is removed (from python v3.7)

('Address', 'Odisha')

In [108]:
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000}

In [109]:
del[mydict1["ID"]] # Removing item using del method
mydict1

{'Name': 'Mikun', 'DOB': 2000}

In [110]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [111]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

### Copy Dictionary

In [113]:
mydict = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}
mydict

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}

In [114]:
mydict1 = mydict # Create a new reference 'mudict1'

In [115]:
id(mydict), id(mydict1)

(2341830722368, 2341830722368)

In [116]:
mydict2 = mydict.copy()

In [117]:
id(mydict2)

2341829943744

In [119]:
print(f"if the mydict and mydict1 address is same: {id(mydict) == id(mydict1)}")
print(f"if the mydict and mydict2 address is same: {id(mydict) == id(mydict2)}")

if the mydict and mydict1 address is same: True
if the mydict and mydict2 address is same: False

In [122]:
mydict["Address"] = "Bangalore"

In [123]:
mydict

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Bangalore'}

In [124]:
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Bangalore'}

In [125]:
mydict2

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}

### Loop through a dictionary

In [126]:
mydict1 = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}

In [127]:
for i in mydict1:
    print(i, ':', mydict1[i]) # key and value pair

Name : Mikun
ID : 72
DOB : 2000
Address : Odisha

In [128]:
for i in mydict1:
    print(mydict1[i]) # Dictinoary items

Mikun
72
2000
Odisha

### Dictionary Membership

In [129]:
mydict1 = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'Address': 'Odisha'}

In [130]:
'Name' in mydict1

True

In [132]:
'Mikun' in mydict1

False

In [133]:
'ID' in mydict1

True

In [134]:
'Address' in mydict1

True

In [135]:
mydict1.pop('Address')

'Odisha'

In [136]:
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000}

In [137]:
'Address' in mydict1

False

## All / Any
The all() method returns:
* True - If all keys of the dictionary are true
* False - If any key of the dictionary is false

The any() function returns True if any key of the dictionary is True, if not, any() returns false

In [138]:
mydict1 = {'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'job': 'Analyst'}
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'job': 'Analyst'}

In [139]:
all(mydict1)

True

In [141]:
mydict1['Bool'] = False
mydict1

{'Name': 'Mikun', 'ID': 72, 'DOB': 2000, 'job': 'Analyst', 'Bool': False}

In [142]:
all(mydict1)

True

In [143]:
mydict1[0] = True
mydict1

{'Name': 'Mikun',
 'ID': 72,
 'DOB': 2000,
 'job': 'Analyst',
 'Bool': False,
 0: True}

In [144]:
all(mydict1)

False

In [145]:
any(mydict1)

True

# Range

In [146]:
range(10)

range(0, 10)

In [147]:
range(10, 20)

range(10, 20)

In [148]:
range(10, 20, 30)

range(10, 20, 30)