## Data type Assignment

In [2]:
p =20
q = 20
r = q

print(p, type(p), hex(id(p))) # Here id(p)-> address of p in integer format
                              # hex() -> convert the integer to the address

20 <class 'int'> 0x7ff9de0cb608

In [3]:
print(q, type(q), hex(id(q)))

20 <class 'int'> 0x7ff9de0cb608

In [4]:
print(r, type(r), hex(id(r)))

20 <class 'int'> 0x7ff9de0cb608

## Variable Assignment

In [5]:
intvar = 10
floatvar = 2.57
strvar = "Python Language"

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

## Multiple Assignments

In [6]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

# Data Types

## Numeric

In [8]:
import sys

In [10]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # Object type find using type() function
print(sys.getsizeof(val1)) # finding the size of the given object in byte using getsizeof()

# Checking if the val1(object) is an instance of int(classinfo)
print(val1, " is Integer?", isinstance(val1, int))

10
<class 'int'>
28
10  is Integer? True

In [11]:
val2 = 92.78
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, " is float?", isinstance(val2, float))

92.78
<class 'float'>
24
92.78  is float? True

In [12]:
val3 = 25 + 10J # Complex data type
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, " is complex?", isinstance(val3, complex))

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [15]:
print("Size of integer object in bytes: ", sys.getsizeof(int()))
print("Size of float object in bytes: ", sys.getsizeof(float()))
print("Size of float complex in bytes: ", sys.getsizeof(complex()))

Size of integer object in bytes:  28
Size of float object in bytes:  24
Size of float complex in bytes:  32

# Boolean

Boolean data type can have only two possible values <b>true</b> or <b>false</b>

In [16]:
bool1 = True
bool2 = False

In [18]:
print(type(bool1), type(bool2))

<class 'bool'> <class 'bool'>

In [19]:
isinstance(bool1, bool)

True

In [20]:
print(bool(0), bool(1), bool(None), bool(False))

False True False False

# String

### String Creation

In [51]:
str1 = "HELLO PYTHON" # String Using double quotes

print(str1)

HELLO PYTHON

In [23]:
mystr = "Hello World" # String Using single quotes
print(mystr)

Hello World

In [24]:
mystr = """Hello
            World""" # Define string using triple quotes
print(mystr)

Hello
            World

In [28]:
mystr = ('Happy '
         'Diwali '
         'Everyone')
print(mystr)

Happy Diwali Everyone

In [27]:
mystr2 = 'Hello '
mystr2 = mystr2*100
mystr2

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

In [29]:
len(mystr2) # To find the length of the string

600

## String Indexing

In [30]:
str1

'HELLO PYTHON'

In [31]:
str1[0] # Gives first character of str1

'H'

In [32]:
str1[len(str1)-1] # Using len function defining the last character of str1

'N'

In [33]:
str1[-1] # Other way of finding the last character

'N'

In [34]:
str1[6] # Fectch 7th element of the string

'P'

In [36]:
str1[5] # Because there is 'space' at the 6th place

' '

## String Slicing

In [38]:
str1[0:5] # String slicing method -> Fetch all characters from 0 to 4 str1[m: (n-1)]

'HELLO'

In [39]:
str1[6: 12]

'PYTHON'

In [43]:
str1[-7:] # Retreive last 7 characters of the string

' PYTHON'

In [44]:
str1[:6] # Retrieve first 6 character

'HELLO '

## Update & Delete String

In [45]:
str1

'HELLO PYTHON'

In [47]:
# Strings are immutable which means elements of a string cannot be changed once it is declared
str1[0:5] =  'HOLAA' # Here we are trying change the element means a substring which can't be possible

TypeError: 'str' object does not support item assignment

In [48]:
del str1 # Delete a string
print(str1)

NameError: name 'str1' is not defined

## String concatenation

In [50]:
# String concatenation
s1 = "Hello "
s2 = "Everyone"
s3 = s1 + s2
print(s3)

Hello Everyone