# Tuple

### Tuple Creation
`Tuple -> declared as '()'`

In [9]:
t = () # Empty tuple
t

()

In [10]:
tup2 = (10, 30, 60) # tuple of integers numbers
tup2

(10, 30, 60)

In [11]:
tup3 = (10.77, 30.66, 60.89) # tuple of float numbers

In [12]:
tup4 = ('one', 'two', 'three') # tuple of strings

In [13]:
tup5 = ('Mikun', 25, (50,100), (150, 90)) # Nested tuples
tup5

('Mikun', 25, (50, 100), (150, 90))

In [14]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [15]:
tup7 = ('Asif', 25, [50, 100], [150, 90], {'John', 'David'}, (99, 22, 33))
tup7

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [16]:
len(tup7)

6

In [57]:
type(t)

tuple

In [58]:
t.count(10)

0

In [59]:
t1 = (10, 20, 2.2, 'ten', True, 1+2j, 20)
t1

(10, 20, 2.2, 'ten', True, (1+2j), 20)

In [60]:
t1.count(20)

2

### Tuple Indexing

In [ ]:
# .index() give the index of the given value 
# If there is more than one same value then it will give the index of first value occured
t1.index(20)

In [17]:
tup2[0] # Rettreive first element of the tuple

10

In [18]:
tup4[0] # Retreive first element of the tuple

'one'

In [19]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [20]:
tup4[-1] # Last item of the tuple

'three'

In [21]:
tup5[-1]

(150, 90)

### Tuple Slicing

In [24]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple[0:3] # Return all items from 0th to 3rd index ( index: 0, 1, 2)

('one', 'two', 'three')

In [25]:
mytuple[2:5] # List alll items from 2nd to th index ( index 2, 3, 4)

('three', 'four', 'five')

In [26]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [27]:
mytuple[:2] # Return first two items

('one', 'two')

In [28]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [29]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [30]:
mytuple[-1] # Return last item of the tuple

'eight'

In [31]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove and Change items

In [32]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
# Tuples are immutable means we can't DELETE tuple items
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

* `Mutable` : We can change, delete, add items within like 'List'
* `Immutable` : We can't change, delete, add items that already declared like'Tuple'

In [33]:
# Tuple are immutable which means we can't CHANGE tuple items
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [35]:
# Deleteing entire tuple object is possible
del mytuple

### Loop through a tuple

In [37]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [38]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [39]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Tuple Membership

In [40]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
'one' in mytuple # Check if 'one' exist in the list

True

In [42]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [43]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print("Three is present in the tuple")
else:
    print("Three is not present in the tuple")

Three is present in the tuple

In [44]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

### Index Position

In [45]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [46]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [47]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [49]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [52]:
mytuple1 = mytuple
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [53]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# Sorting

In [54]:
mytuple2 = (42, 67, 99, 12, 6, 90, 67)

In [55]:
sorted(mytuple2) # Returns new sorted list and doesn't change original tuple

[6, 12, 42, 67, 67, 90, 99]

In [56]:
sorted(mytuple2, reverse=True) # Sort in decending order

[99, 90, 67, 67, 42, 12, 6]